@model RegisterViewModel

@{ 
    ViewBag.Title += "Register";
}

<h1>Register</h1>

<form method="post" asp-antiforgery="true">
    
    <div asp-validation-summary="ModelOnly"></div>
    
    <div>
        <label asp-for="UserName"></label>
        <input asp-for="UserName" />
        <span asp-validation-for="UserName"></span>
    </div>

    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>

    <div>
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>

    <div>
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" />
        <span asp-validation-for="FirstName"></span>
    </div>

    <div>
        <label asp-for="LastName"></label>
        <input asp-for="LastName" />
        <span asp-validation-for="LastName"></span>
    </div>

    <div>
        <label asp-for="BirthDate"></label>
        <input asp-for="BirthDate" />
        <span asp-validation-for="BirthDate"></span>
    </div>

    <div>
        <label asp-for="PersonalNo"></label>
        <input asp-for="PersonalNo" />
        <span asp-validation-for="PersonalNo"></span>
    </div>

    <div>
        <input type="submit" value="Register" />
    </div>

</form>