@model UserType
@{
    ViewBag.Title += "Schedule Entry";
}

<div class="form col-xs-12 col-md-2">
    <a class="btn btn-lg btn-default col-lg-12 col-md-12 col-sm-12 col-xs-12" asp-controller="Schedule" asp-action="ScheduleView" style="white-space: pre-line">
        <span class="fa fa-calendar fa-5x"></span><br />
        <b>View Schedule</b>

    </a>
</div>

<div class="form col-xs-12 col-md-2">
    <a class="btn btn-lg btn-default col-lg-12 col-md-12 col-sm-12 col-xs-12" asp-controller="Schedule" asp-action="ScheduleClassList" style="white-space: pre-line">
        <span class="fa fa-list fa-5x"></span><br />
        <b>View Classes</b>

    </a>
</div>

@if (Model == UserType.Student)
{
    <div class="form col-xs-12 col-md-2">
        <a class="btn btn-lg btn-default col-lg-12 col-md-12 col-sm-12 col-xs-12" asp-controller="Schedule" asp-action="ScheduleChoise" style="white-space: pre-line">
            <span class="fa fa-calendar-plus-o fa-5x"></span><br />
            <b>Choose Classes</b>
        </a>
    </div>
}
else
{
    <div class="form col-xs-12 col-md-2">
        <a class="btn btn-lg btn-default col-lg-12 col-md-12 col-sm-12 col-xs-12" asp-controller="Classes" asp-action="ClassCreation" style="white-space: pre-line">
            <span class="fa fa-edit fa-5x"></span><br />
            <b>Create Classes</b>
        </a>
    </div>
}

<div class="form col-xs-12 col-md-2">
    <a class="btn btn-lg btn-default col-lg-12 col-md-12 col-sm-12 col-xs-12" asp-controller="Home" asp-action="Main" style="white-space: pre-line">
        <span class="fa fa-arrow-left fa-5x"></span><br />
        <b>Return</b>

    </a>
</div>