@{ 
    ViewBag.Title += "Schedule Entry";
}

<div class="form col-xs-12 col-md-2">
    <a class="btn btn-default" asp-controller="Schedule" asp-action="ScheduleView">View schedule</a>
</div>

<div class="form col-xs-12 col-md-2">
    <a class="btn btn-default" asp-controller="Schedule" asp-action="ScheduleClassList">View classes</a>
</div>

<div class="form col-xs-12 col-md-2">
    <a class="btn btn-default" asp-controller="Classes" asp-action="ClassCreation">Create classes</a>
</div>

<div class="form col-xs-12 col-md-2">
    <a class="btn btn-default" asp-controller="Schedule" asp-action="ScheduleChoise">Manage attended classes</a>
</div>