@model ScheduleViewModel

@{
    ViewBag.Title += "Schedule View";
}

<link href="~/calendar.css" rel="stylesheet" />

<h1>Schedule View</h1>

<a class="btn btn-default" asp-controller="Schedule" asp-action="ScheduleEntry">
    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
    Back
</a>

<div class="form-group col-sm-12"></div>

<div id="calendar"></div>

<div class="form-group col-sm-12"></div>

@if (Model.UserType == UserType.Student)
{
    <a class="btn btn-default" asp-controller="Schedule" asp-action="ScheduleChoise">
        <span class="fa fa-calendar-plus-o"></span><br />
        <b>Choose Classes</b>
    </a>
}
else
{
    <a class="btn btn-default" asp-controller="Classes" asp-action="ClassCreation">
        <span class="fa fa-edit"></span><br />
        <b>Create Classes</b>
    </a>
}

<script>
    var eventsData = @Html.Raw(Json.Serialize(Model.List));
</script>

<script src="~/getCalendar.js"></script>
