@model UserType
@{
    ViewBag.Title += "Main";
}

@if (Model == UserType.Manager)
{
    <div class="form col-xs-12 col-md-2">
        <a class="btn btn-lg btn-default col-lg-12 col-md-12 col-sm-12 col-xs-12" asp-controller="Autos" asp-action="ViewCarList" style="white-space: pre-line">
            <span class="fa fa-calendar-check-o fa-5x"></span><br />
            <b>Autos List</b>

        </a>
    </div>

    <div class="form col-xs-12 col-md-2">
        <a class="btn btn-lg btn-default col-lg-12 col-md-12 col-sm-12 col-xs-12" asp-controller="Autos" asp-action="Create" style="white-space: pre-line">
            <span class="fa fa-calendar-check-o fa-5x"></span><br />
            <b>Create Auto</b>

        </a>
    </div>

    <div class="form col-xs-12 col-md-2">
        <a class="btn btn-lg btn-default col-lg-12 col-md-12 col-sm-12 col-xs-12" asp-controller="Autos" asp-action="ViewUsageReports" style="white-space: pre-line">
            <i class="fa fa-calendar-check-o fa-5x"></i><br />
            <b>Autos Usage Reports</b>
        </a>
    </div>
}

@if (Model != UserType.Student)
{
    <div class="form col-xs-12 col-md-2">
        <a class="btn btn-lg btn-default col-lg-12 col-md-12 col-sm-12 col-xs-12" asp-controller="Autos" asp-action="ViewCarUsage" style="white-space: pre-line">
            <span class="fa fa-calendar-check-o fa-5x"></span><br />
            <b>Auto Usage Form</b>
        </a>
    </div>
}

<div class="form col-xs-12 col-md-2">
    <a class="btn btn-lg btn-default col-lg-12 col-md-12 col-sm-12 col-xs-12" asp-controller="Schedule" asp-action="ScheduleEntry" style="white-space: pre-line">
        <span class="fa fa-calendar-check-o fa-5x"></span><br />
        <b>Schedule Entry</b>
    </a>
</div>

@if (Model == UserType.Manager)
{
    <div class="form col-xs-12 col-md-2">
        <a class="btn btn-lg btn-default col-lg-12 col-md-12 col-sm-12 col-xs-12" asp-controller="Users" asp-action="ViewUserList" style="white-space: pre-line">
            <span class="fa fa-calendar-check-o fa-5x"></span><br />
            <b>Users List</b>

        </a>
    </div>
}