@model IEnumerable<User>

@{ 
    ViewBag.Title = "Main";
}

<h1>Hello from a view!</h1>
<table>
    @foreach (var student in Model)
    {
        <tr>
            <td>@student.Id</td>
            <td>@student.FirstName</td>
        </tr>
    }
</table>

@section footer {

}