@model IEnumerable<User>

@{ 
    ViewBag.Title += "Main";
}

<div class="form col-xs-12 col-md-2">
    <a class="btn btn-default" asp-controller="Schedule" asp-action="ScheduleEntry">Schedule</a>
</div>
